<link rel="stylesheet" type="text/css" href="/css/admin-jobs.css" >
<div id='jobsAdd'>
        <div class='grid-main-header'>
                <p id="pageTitle"> Edit password </p>
        </div>

        <div class="grid-main-body" id="edit-password">
                <form id='editPassword' action="/admin/edit-password?cas={{this.userType}}&id={{this.name}}" method="POST">
                       
                        
                        <p><input class='inputField' type="text" id="username" placeholder="{{this.name}}" name="username"
                                        disabled value={{this.name}} >
                        </p>
                        <p><input class='inputField' type="password" id="password" placeholder="New password" name="password"
                                        required value={{password}} >
                        </p>
                        <p><input class='inputField' type="password" id="repeatPassword" placeholder="Repeat password" name="repeatPassword" 
                                        required value={{repeatPassword}} >
                        </p>
                        
                        
                       <div id="bottomPanel">
                                <input type="submit" value="Submit Changes" class="button" id="submitButton"></input>
                                <a href="about:blank" target="content2" class="deleteButton">Cancel</a>
                        </div>
                </form>
        </div>
</div>