<!-- code copied from admin-jobs-add to use as a template and page positioning -->
<!-- the handlebars file for the page to add a specific fuel event information -->
<link rel="stylesheet" type="text/css" href="/css/admin-jobs.css" >
<div class="editForm">
    <form action="/admin/edit?cas=report" method="POST">

            <label for="idNumber"><p class="editTitle">Work report ID: {{saveResult.idNumber}}</p></label>
            
            <input class="textarea" type="hidden" id="idNumber" name="idNumber" value="{{saveResult.idNumber}}">
        <br><br>

        <label for="worker"><p class="editTitle">Worker: *</p></label>
            <textarea class="textarea" id="worker" name="worker" rows="4" cols="50" required>{{saveResult.worker}}</textarea>
        <br><br>

             <label for="job"><p class="editTitle">Job: *</p></label>
            <textarea class="textarea" id="job" name="job" rows="4" cols="50" required>{{saveResult.job}}</textarea>
        <br><br>

         <label for="startTime"><p class="editTitle">Start Time: *</p></label>
            <textarea class="textarea" id="startTime" name="startTime" rows="4" cols="50" required>{{saveResult.startTime}}</textarea>
        <br><br>

        <label for="endTime"><p class="editTitle">End Time: *</p></label>
            <textarea class="textarea" id="endTime" name="endTime" rows="4" cols="50" required>{{saveResult.endTime}}</textarea>
        <br><br>
        
        <label for="hours"><p class="editTitle">Hours: *</p></label>
            <textarea class="textarea" id="hours" name="hours" rows="4" cols="50" required>{{saveResult.hours}}</textarea>
        <br><br>

        <label for="date"><p class="editTitle">Date: *</p></label>
            <textarea class="textarea" id="date" name="date" rows="4" cols="50" required>{{saveResult.date}}</textarea>
        <br><br>

        <label for="equipment"><p class="editTitle">Equipment: *</p></label>
            <textarea class="textarea" id="equipment" name="equipment" rows="4" cols="50" required>{{saveResult.equipment}}</textarea>
        <br><br>

        <label for="hectares"><p class="editTitle">Hectares:</p></label>
            <textarea class="textarea" id="hectares" name="hectares" rows="4" cols="50" >{{saveResult.hectares}}</textarea>
        <br><br>

        <label for="items"><p class="editTitle">Items:</p></label>
            <textarea class="textarea" id="items" name="items" rows="4" cols="50" >{{saveResult.items}}</textarea>
        <br><br>

        <label for="notes"><p class="editTitle">Notes:</p></label>
            <textarea class="textarea" id="notes" name="notes" rows="4" cols="50" >{{saveResult.notes}}</textarea>
        <br><br>
        <p>* Required fields</p>
           
      <div id="bottomPanel">
          <input type="submit" value="Submit Changes" class="button" id="submitButton"></input>
            <a href="/admin/delete?cas=report&id={{saveResult.idNumber}}" target="content2" class="deleteButton">Delete Report</a>
        </div>
    </form>
</div>