<!-- the handlebars file for the page to display all jobs' information -->
<link rel="stylesheet" type="text/css" href="/css/admin-jobs.css" >
     
    <div id= "jobsMain" >
        <p id="pageTitle">Jobs</p>
        <div id="topPanel">
            <div id="searchBarGrid">
                    <form action="/admin/jobs/search">
                        <input class="searchBar" id="searchBarGrid" type="text" placeholder="Search" name="searchParam" onchange=""> 
                        <input class="inputField" type="date" name="dateFrom" id="dateFrom" placeholder="  Date..."  value= {{dateFrom}}>
                        <br>
                        <input class="inputField" type="date" name="dateTo" id="dateTo" placeholder="  Date..."  value= {{dateTo}}>
                    </form>
                </div>
               
                <a href="/admin/jobs-add" target="content2"class="button" id ="addButton">
                    <p>Add+</p>
                </a>
            </div>
                
        {{#each saveResult}}
            <div id= "jobList">
            <div class = "jobItem">
                <a href="/admin/single-job?id={{this.idNumber}}" target="content2"> 
                <p class = "jobName"> {{this.name}} </p> 
                <p class = "jobID">{{this.idNumber}}</p>
                <p class = "jobDescription">{{this.desc}}</p></a>
            </div>
        </div>
        {{/each}}
</div>