<link rel="stylesheet" type="text/css" href="/css/admin-jobs.css" >
<div style="padding-left:2em; font-weight: bold;">Total: {{sum}} {{unit}} {{period}}</div>
<div style="padding-left:2em; font-weight: bold;">Total: {{sumHectares}} Hectares {{period}}</div>
<div style="padding-left:2em; font-weight: bold;">Total: {{sumHours}} Hours {{period}}</div>